@import "tailwindcss";



@font-face {
  font-family: "MyFont";
  src: url("../assets/fonts/madefor-text.var.original.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("../assets/fonts/madefor-text.var.original.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "MyFont", system-ui, sans-serif;
}

:root {
  --primary: #5919C1;
}